<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Gubee\Integration\Api\QueueRepositoryInterface" type="Gubee\Integration\Model\QueueRepository"/>
    <preference for="Gubee\Integration\Api\Data\QueueInterface" type="Gubee\Integration\Model\Queue"/>
    <preference for="Gubee\Integration\Api\Data\QueueSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>

    <virtualType name="Gubee\Integration\Model\ResourceModel\Queue\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">gubee_integration_queue</argument>
            <argument name="resourceModel" xsi:type="string">Gubee\Integration\Model\ResourceModel\Queue\Collection</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="gubee_integration_queue_listing_data_source" xsi:type="string">Gubee\Integration\Model\ResourceModel\Queue\Grid\Collection</item>
                <item name="gubee_integration_log_listing_data_source" xsi:type="string">Gubee\Integration\Model\ResourceModel\Log\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <preference for="Gubee\Integration\Api\LogRepositoryInterface" type="Gubee\Integration\Model\LogRepository"/>
    <preference for="Gubee\Integration\Api\Data\LogInterface" type="Gubee\Integration\Model\Log"/>
    <preference for="Gubee\Integration\Api\Data\LogSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
    <virtualType name="Gubee\Integration\Model\ResourceModel\Log\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">gubee_integration_log</argument>
            <argument name="resourceModel" xsi:type="string">Gubee\Integration\Model\ResourceModel\Log\Collection</argument>
        </arguments>
    </virtualType>

    <type name="Gubee\Integration\Library\Setup\Migration\Context">
        <arguments>
            <argument name="logger" xsi:type="object">Gubee\Integration\Model\Logger</argument>
        </arguments>
    </type>

    <type name="Gubee\Integration\Command\AbstractCommand">
        <arguments>
            <argument name="logger" xsi:type="object">Gubee\Integration\Model\Logger</argument>
        </arguments>
    </type>

    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="Gubee\Integration\Command\Gubee\Token\RenewCommand" xsi:type="object">Gubee\Integration\Command\Gubee\Token\RenewCommand</item>
            </argument>
        </arguments>
    </type>
</config>
