<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="model_save_after">
        <observer name="Gubee\Integration\Observer\Catalog\Product\Attribute\Save\After" instance="Gubee\Integration\Observer\Catalog\Product\Attribute\Save\After" />
    </event>
</config>