@tailwind base;
@tailwind components;
@tailwind utilities;

/** a td that contains a child div grid-log-* class */


/**
 * Types:
 * - emergency; background must be light red and border must be dark red
 * - alert: background must be light orange and border must be dark orange
 * - critical: background must be light red and border must be dark red
 * - error: background must be light red and border must be dark red
 * - warning: background must be light yellow and border must be dark yellow
 * - notice: background must be light blue and border must be dark blue
 * - info: background must be green and border must be dark green
 * - debug: background must be light gray and border must be dark gray
 */
.grid-log {
    background: #feeee1 none repeat scroll 0 0;
    border: 1px solid #ed4f2e;
    color: rgba(0, 0, 0, 0.6);
    display: block;
    font-weight: bold;
    line-height: 17px;
    padding: 0 3px;
    text-align: center;
    text-transform: uppercase;
}

.grid-log-emergency {
    @apply grid-log;
    background: rgba(255, 0, 0, 0.5);
    border: 1px solid rgba(139, 0, 0, 0.8);
}

.grid-log-alert {
    @apply grid-log;
    background: rgba(255, 165, 0, 0.5);
    border: 1px solid rgba(255, 140, 0, 0.8);
}

.grid-log-critical {
    @apply grid-log;
    background: rgba(255, 0, 0, 0.5);
    border: 1px solid rgba(139, 0, 0, 0.8);
}

.grid-log-error {
    @apply grid-log;
    background: rgba(255, 0, 0, 0.5);
    border: 1px solid rgba(139, 0, 0, 0.8);
}

.grid-log-warning {
    @apply grid-log;
    background: rgba(255, 255, 0, 0.5);
    border: 1px solid rgba(184, 134, 11, 0.8);
}

.grid-log-notice {
    @apply grid-log;
    background: rgba(135, 206, 250, 0.5);
    border: 1px solid rgba(0, 0, 139, 0.8);
}

.grid-log-info {
    @apply grid-log;
    background: rgba(0, 128, 0, 0.5);
    border: 1px solid rgba(0, 100, 0, 0.8);
}

.grid-log-debug {
    @apply grid-log;
    background: rgba(255, 165, 0, 0.5);
    border: 1px solid rgba(255, 140, 0, 0.8);
}

#gubee_validation::after {
    @apply absolute inline-flex items-center justify-center text-xs font-bold text-white bg-red-500 border-2 border-white rounded-full -top-2 -end-2;
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    content: attr(data-errors);
}


#gubee_validation::before {
    @apply w-6 h-6 text-gray-800 dark:text-white bg-no-repeat bg-center bg-contain top-0 left-0 z-0 content-[''] inline-block pr-10 relative align-middle mr-2 gubee-logo-white;
}

.gubee-logo-white {
    background-image: url('./img/logo-white.svg');
}

.gubee-logo-black {
    background-image: url('./img/logo-black.svg');
}

.gubee-logo {
    background-image: url('./img/logo.svg');
}
