<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="gubee_integration" id="gubee_integration">
			<module before="Magento_Backend" name="Gubee_Integration"/>
		</route>
	</router>
</config>
